.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
  margin: 20px 0;

  .goBack {
    padding: 50px;
  }
}
